extends ./layout/app

block content
    section(class="py-5")
        h2(class="text-center text-4xl font-extrabold pt-10 capitalize")= page + ' for Sale'

        if properties.length
            div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-10")
                each property in properties
                    include ./templates/featuredPropertyCard

        else 
            p(class="text-center text-gray-800 text-sm py-10") Nothing to display here
